{#
/**
* @file
* Template for accordion component.
*/
#}

<div class="acc-main">
  <div class="container">
    <div class="kind">
      <h2>Accordions</h2>
      <div class="accordion_container">
        <div class="accordion-main">
          <div class="accordion_head">Accordian 1<span class="plusminus">+</span></div>
          <div class="accordion_body" id="a1" style="display: none;">
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
          </div>
        </div>
        <div class="accordion-main">
          <div class="accordion_head">Accordion 2 <span class="plusminus">+</span></div>
          <div class="accordion_body" style="display: none;">
            <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

