{#
/**
* @file
* Template for footer component.
*/
#}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>{{ '© 2023 Your Company. All rights reserved.'|t }}</p>
      </div>
    </div>
  </div>
</footer>